/* ConfTool custom CSS File */

body {
 /* background: #f0f0f0; */
 /* background-image:url(background.gif);
 background-repeat:repeat-x; */
}

/* .mainbg	{ background-color: #FFFFFF; } */

/* a:link { TEXT-DECORATION: none; color: #006000; } */
/* a:visited { TEXT-DECORATION: none; color: #507000; } */
/* a:active { TEXT-DECORATION: underline; color: #800000; } */
/* a:hover { TEXT-DECORATION: underline; color: #800000; } */

/* .cthead_td_cmds { background-color: #DCE0D8; } */

/* .navbarborder { background-color: #668866; } */

/* .tbldialog { background: #e0eecc; } */
/* .td_dlg_title { background: #d0eebb; } */

/* .oddrow {  background-color: #e0e8d8; } */
/* .evenrow { background-color: #e8f0e4; } */

/* .form_td_separator { background: #708866; } */
/* .infoview_sep { background-color: #708066; } */

